#! /usr/bin/env python
PACKAGE='opencv_example'

from dynamic_reconfigure.msg import SensorLevels
from dynamic_reconfigure.parameter_generator_catkin import *

gen = ParameterGenerator()

#       Name		  Type		  Reconfiguration level 			      Description			Default	Min 	 Max
gen.add("h_center",   int_t, SensorLevels.RECONFIGURE_RUNNING, "Hue threshold center",   90,    0, 180)
gen.add("h_width",   int_t, SensorLevels.RECONFIGURE_RUNNING, "Hue threshold width",   10,    1, 90)
gen.add("s_thres",   int_t, SensorLevels.RECONFIGURE_RUNNING, "Saturation threshold",   200,    0, 255)
gen.add("v_thres",   int_t, SensorLevels.RECONFIGURE_RUNNING, "Value threshold",   200,    0, 255)

exit(gen.generate(PACKAGE, PACKAGE, "HsvExample"))
